[workspace]
members = [
    "crates/egui_dock",
    "crates/paiagram-core",
    "crates/paiagram-app",
    "crates/paiagram-raptor",
    "crates/paiagram-timing",
    "crates/paiagram-ui",
    "crates/paiagram-rw",
]
default-members = ["crates/paiagram-app"]
resolver = "3"

[workspace.package]
edition = "2024"
license = "AGPL-3.0-only"

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

# Enable more optimization in the release profile at the cost of compile time.
[profile.release]
codegen-units = 1
opt-level = 3
lto = "fat"
panic = "abort"
strip = true

# Optimize for size in the wasm-release profile to reduce load times and bandwidth usage on web.
[profile.wasm-release]
inherits = "release"
opt-level = "z"
