[package]
name = "paiagram"
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0-only"

[dependencies]
bevy = { version = "0.18.0", default-features = false, features = [
    "multi_threaded",
    "bevy_state",
    "std",
    "bevy_log",
    "bevy_color",
    "bevy_scene",
    "serialize",
    "reflect_auto_register",
    "http"
] }
# local path to egui_dock
egui_dock = { path = "./egui_dock", features = ["serde"] }
petgraph = { version = "0.8.3", features = ["serde-1", "rayon"] }
derive_more = { version = "2.1.0", features = ["full"] }
serde_json = "1.0.145"
serde = "1.0.228"
rand = "0.9.2"
ib-matcher = { version = "0.4.0", features = ["pinyin", "romaji"] }
rfd = "0.17.2"
pest = "2.8.5"
pest_derive = "2.8.5"
git-version = "0.3.9"
chrono = "0.4.42"
clap = { version = "4.5.51", features = ["derive"] }
instant = { version = "0.1.13", features = ["wasm-bindgen"] }
rayon = "1.11.0"
eframe = { version = "0.33.3", default-features = false, features = [
    "accesskit",
    "glow",
    "persistence",
    "wayland",
    "web_screen_reader",
] }
egui = { version = "0.33.3", default-features = false, features = [
    "rayon",
    "persistence",
    "serde",
] }
smallvec = { version = "1.15.1", features = ["serde"] }
either = "1.15.0"
egui_table = "0.6.0"
wasm-bindgen = "0.2.106"
fluent = "0.17.0"
strum = "0.27.2"
strum_macros = "0.27.2"
bitvec = "1.0.1"
egui-i18n = { version = "0.1.2", features = ["fluent"] }
emath = "0.33.3"
visgraph = "0.1.0"
ron = "0.12.0"
moonshine-core = "0.5.1"
urlencoding = "2.1.3"
ehttp = { version = "0.6.0", features = ["json", "native-async"] }
strsim = "0.11.1"
lz4_flex = "0.12.0"
thiserror = "2.0.17"
bevy-inspector-egui = {version = "0.36.0", default-features = false}
ureq = { version = "3.1.4", features = ["_tls"] }
itertools = "0.14.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.3.*", features = ["wasm_js"] }
wasm-bindgen = "0.2.106"
wasm-bindgen-futures = "0.4"
web-sys = { version = "0.3", features = [
    "Document",
    "Element",
    "HtmlAnchorElement",
    "Window",
    "Blob",
    "BlobPropertyBag",
    "Url",
] }
idb = "0.6.5"
js-sys = "0.3"

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

# Enable more optimization in the release profile at the cost of compile time.
[profile.release]
codegen-units = 1
opt-level = 3
lto = "fat"
panic = "abort"
strip = true

# Optimize for size in the wasm-release profile to reduce load times and bandwidth usage on web.
[profile.wasm-release]
inherits = "release"
opt-level = "z"
