[package]
name = "paiagram-core"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
paiagram-rw = { path = "../paiagram-rw" }
serde = "1.0.228"
rand = "0.9.2"
bevy = { version = "0.18.0", default-features = false, features = [
    "multi_threaded",
    "bevy_state",
    "std",
    "bevy_log",
    "bevy_color",
    "bevy_scene",
    "serialize",
    "reflect_auto_register",
    "http",
] }
bevy_reflect = { version = "*", features = ["petgraph"] }
petgraph = { version = "0.8.3", features = ["serde-1", "rayon"] }
derive_more = { version = "2.1.0", features = ["full"] }
serde_json = "1.0.145"
ib-matcher = { version = "0.4.0", features = ["pinyin", "romaji"] }
rfd = "0.17.2"
pest = "2.8.5"
pest_derive = "2.8.5"
git-version = "0.3.9"
chrono = "0.4.42"
clap = { version = "4.5.51", features = ["derive"] }
instant = { version = "0.1.13", features = ["wasm-bindgen"] }
rayon = "1.11.0"
eframe = { version = "0.33.3", default-features = false, features = [
    "accesskit",
    "wgpu",
    "persistence",
    "wayland",
    "web_screen_reader",
] }
egui = { version = "0.33.3", default-features = false, features = [
    "rayon",
    "persistence",
    "serde",
] }
smallvec = { version = "1.15.1", features = ["serde"] }
either = "1.15.0"
egui_table = "0.7.0"
fluent = "0.17.0"
strum = "0.27.2"
strum_macros = "0.27.2"
bitvec = "1.0.1"
egui-i18n = { version = "0.1.2", features = ["fluent"] }
emath = "0.33.3"
visgraph = "0.1.0"
ron = "0.12.0"
moonshine-core = "0.5.1"
urlencoding = "2.1.3"
ehttp = { version = "0.6.0", features = ["json", "native-async"] }
strsim = "0.11.1"
lz4_flex = "0.12.0"
thiserror = "2.0.17"
bevy-inspector-egui = { version = "0.36.0", default-features = false }
itertools = "0.14.0"
gtfs-structures = { version = "0.46.1", default-features = false }
utm = "0.1.6"
egui-phosphor = "0.11.0"
wgpu = { version = "27.0.1", features = [
    "vulkan",
    "gles",
    "dx12",
    "metal",
    "webgpu",
    "webgl",
] }
bytemuck = { version = "1.23.2", features = ["extern_crate_alloc"] }
wasmi = "1.0.9"
anyhow = "1.0.101"
encoding_rs = "0.8.35"
rstar = "0.12.2"
arrayvec = "0.7.6"
postcard = "1.1.3"
cbor4ii = { version = "1.2.2", features = ["serde", "serde1"] }
num-format = "0.4.4"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
ureq = { version = "3.1.4", features = ["_tls"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2.17", features = ["js"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
web-sys = { version = "0.3", features = [
    "Document",
    "Element",
    "HtmlAnchorElement",
    "Window",
    "Blob",
    "BlobPropertyBag",
    "Url",
] }
idb = "0.6.5"
js-sys = "0.3"
