/* define fonts and basic styles */
@font-face {
    font-family: 'Merriweather Sans Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 300 800;
    src: url('/webfonts/merriweather-sans-latin-wght-normal.woff2') format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Merriweather Sans Variable';
    font-style: italic;
    font-display: swap;
    font-weight: 300 800;
    src: url('/webfonts/merriweather-sans-latin-wght-italic.woff2') format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Merriweather Sans Variable', Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #222;
    max-width: 960px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    line-height: 1.4;
}

kbd {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 2px;
    font-family: monospace;
    font-weight: bold;
    box-shadow: inset 0 -2px 0 #bbb;
}

kbd.path {
    border-radius: 0px;
    border: 1px solid #9c8851;
    box-shadow: inset 0 -2px 0 #806f3a;
    background: #edcd74;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1.5px solid #bbb;
    text-align: left;
    padding: 0.2rem;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 720px) {
    body {
        margin: 1rem;
        padding: 1rem;
    }
}
