name: Deploy docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  workflow_run:
    workflows: ["Deploy WASM"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: wasm
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get shiroa latest commit hash
        id: get-rev
        run: echo "rev=$(git ls-remote https://github.com/Myriad-Dreamin/shiroa HEAD | awk '{ print $1 }')" >> $GITHUB_OUTPUT
      - name: Cache shiroa
        id: cache-shiroa
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/shiroa
          key: ${{ runner.os }}-shiroa-${{ steps.get-rev.outputs.rev }}
      - name: Install Rust
        if: steps.cache-shiroa.outputs.cache-hit != 'true'
        uses: dtolnay/rust-toolchain@stable
      - name: Install shiroa
        if: steps.cache-shiroa.outputs.cache-hit != 'true'
        run: cargo install --git https://github.com/Myriad-Dreamin/shiroa --locked shiroa

      - uses: extractions/setup-just@v3

      - name: Prepare Pages artifact
        run: just prep-docs

      - name: Upload artifacts
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          destination_dir: ./nightly-docs

