/* define fonts and basic styles */
@font-face {
    font-family: 'Merriweather Sans Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 300 800;
    src: url('/webfonts/merriweather-sans-latin-wght-normal.woff2') format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Merriweather Sans Variable';
    font-style: italic;
    font-display: swap;
    font-weight: 300 800;
    src: url('/webfonts/merriweather-sans-latin-wght-italic.woff2') format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Merriweather Sans Variable', Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #222;
    max-width: 720px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #fff;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
}

th,

td {
    border: 1.5px solid #bbb;
    text-align: left;
    padding: 0.2rem;
}

a.link-card {
    display: block;
    padding: 1rem 1.25rem;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #d4dae7;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1rem;
    transition: border-color 0.1s ease-in-out;
}

a.link-card:hover,

a.link-card:focus-visible {
    border-color: #5f8cff;
    outline: none;
}

a.link-card span {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

a.link-card small {
    color: #4b5468;
}


@media (max-width: 720px) {
    body {
        margin: 1rem;
        padding: 1rem;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #1e1e1e;
        color: #ddd;
        border: 1.5px solid #333;
    }
    a.link-card {
        background: #2a2a2a;
        border: 1.5px solid #444c5c;
    }
    a.link-card:hover,
    a.link-card:focus-visible {
        border-color: #5f8cff;
    }
    a.link-card small {
        color: #888;
    }
}
